# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model artifacts
models/
*.joblib
*.pkl

# MLflow local artifacts
mlruns/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/

# Data files (if you don't want to commit raw data)
data/


